In [54]:
#Import dependencies
import csv
import matplotlib as plt
import pandas as pd
from pathlib import Path
import numpy as np

csvpath = Path('.', 'Resources', 'births-attended-by-skilled-health-personnel.csv')

In [24]:
# Read the CSV into a Pandas DataFrame
skilled_personnel_df = pd.read_csv(csvpath, low_memory=False)

# Print the first rows of data to the screen
skilled_personnel_df.head()

,IndicatorCode,Indicator,ValueType,ParentLocationCode,ParentLocation,Location type,SpatialDimValueCode,Location,Period type,Period,...,FactValueUoM,FactValueNumericLowPrefix,FactValueNumericLow,FactValueNumericHighPrefix,FactValueNumericHigh,Value,FactValueTranslationID,FactComments,Language,DateModified
0,MDG_0000000025,Births attended by skilled health personnel (%),text,SEAR,South-East Asia,Country,IDN,Indonesia,Year,2023,...,NaN,NaN,NaN,NaN,NaN,95.7,NaN,SUSENAS 2023 as part of Welfare Statistics 2023,EN,2024-04-26 00:00:00
1,MDG_0000000025,Births attended by skilled health personnel (%),text,EUR,Europe,Country,FRA,France,Year,2023,...,NaN,NaN,NaN,NaN,NaN,97.6,NaN,Institutional Birth (IB): includes all deliver...,EN,2024-04-26 00:00:00
2,MDG_0000000025,Births attended by skilled health personnel (%),text,EMR,Eastern Mediterranean,Country,SAU,Saudi Arabia,Year,2023,...,NaN,NaN,NaN,NaN,NaN,99.8,NaN,Women Health and Reproductive Survey,EN,2024-04-26 00:00:00
3,MDG_0000000025,Births attended by skilled health personnel (%),text,EMR,Eastern Mediterranean,Country,JOR,Jordan,Year,2023,...,NaN,NaN,NaN,NaN,NaN,99.9,NaN,Department of Statistics (DoS) [Jordan] and IC...,EN,2024-04-26 00:00:00
4,MDG_0000000025,Births attended by skilled health personnel (%),text,EMR,Eastern Mediterranean,Country,YEM,Yemen,Year,2022-2023,...,NaN,NaN,NaN,NaN,NaN,60.9,NaN,Central Statistical Organization (CSO) and Uni...,EN,2024-04-26 00:00:00

In [29]:
#make a copy of dataframe and drop unwanted columns
clean_df_skilled_personnel = skilled_personnel_df.drop(['Indicator','FactValueUoM', 'FactValueNumericLowPrefix',
                                                        'FactValueNumericPrefix','FactValueNumericLow','FactValueTranslationID', 'Dim2', 'Dim2 type', 'Dim1 type',
                                                        'Dim2ValueCode', 'Dim3', 'DataSourceDimValueCode', 'Dim3ValueCode', 'DataSource', 'Dim1ValueCode', 'Dim3 type',
                                                        'Dim1', 'FactValueNumericHighPrefix', 'FactValueNumericHigh'], axis=1)
clean_df_skilled_personnel.head()

,IndicatorCode,ValueType,ParentLocationCode,ParentLocation,Location type,SpatialDimValueCode,Location,Period type,Period,IsLatestYear,FactValueNumeric,Value,FactComments,Language,DateModified
0,MDG_0000000025,text,SEAR,South-East Asia,Country,IDN,Indonesia,Year,2023,True,95.7,95.7,SUSENAS 2023 as part of Welfare Statistics 2023,EN,2024-04-26 00:00:00
1,MDG_0000000025,text,EUR,Europe,Country,FRA,France,Year,2023,True,97.6,97.6,Institutional Birth (IB): includes all deliver...,EN,2024-04-26 00:00:00
2,MDG_0000000025,text,EMR,Eastern Mediterranean,Country,SAU,Saudi Arabia,Year,2023,True,99.8,99.8,Women Health and Reproductive Survey,EN,2024-04-26 00:00:00
3,MDG_0000000025,text,EMR,Eastern Mediterranean,Country,JOR,Jordan,Year,2023,True,99.9,99.9,Department of Statistics (DoS) [Jordan] and IC...,EN,2024-04-26 00:00:00
4,MDG_0000000025,text,EMR,Eastern Mediterranean,Country,YEM,Yemen,Year,2022-2023,True,60.9,60.9,Central Statistical Organization (CSO) and Uni...,EN,2024-04-26 00:00:00

In [50]:
parent_location = clean_df_skilled_personnel.groupby(["ParentLocation"])["Value"].value_counts()
pd.DataFrame(parent_location)

                       count
ParentLocation  Value
Africa          99.8      12
                99.0       8
                99.7       8
                99.5       6
                43.7       3
...                      ...
Western Pacific 97.5       1
                97.6       1
                97.8       1
                98.2       1
                98.9       1

[745 rows x 1 columns]